*,
*::after,
*::before {
    /* Resetar o basico do CSS */
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    /* Definir o valor de REM */
    font-size: 62.5%;  
     /* 1rem = 10px; 10px/16px = 65.5%  */
}

body{
  box-sizing: border-box;
}